<p>This is the elect view.</p>


	<h4>Candidates</h4> 
	<ul style="list-style-type:none">
	<li>
		<input ng-model="election.numberOfCandidates" type="text" ng-change="onParamaterChanged()"> 
		</br>
		</br>
		<table cellpadding="10" border="1">
			<tr>
				<th>Candidates</th> 
			</tr>
			<tr ng-repeat="item in election.candidatesArray">
				<td> {{item.firstName}} {{item.lastName}}</td> 
			</tr>
		</table>
		</br>
	</ul>

	<h4>Seats</h4> 
	<ul style="list-style-type:none">
		<li>
			<input ng-model="election.seatsToFill" type="text" ng-change="onParamaterChanged()">
	</ul>
	</br>

	<h4>Voters</h4>
	<ul style="list-style-type:none">
		<li>
			<input ng-model="election.voteCount" type="text" ng-change="onParamaterChanged()">
	</ul>
	</br>

	<h4>Votes:</h4>
	<ul style="list-style-type:none">
		<li>
			<table cellpadding="10" border="1">
				<tr>
					<th></th> 
					<th ng-repeat="votePrefIndex in election.candidatesArray">Preference {{$index+1}}</th>
				</tr>
				<tr ng-repeat="vote in election.votesArray">
					<td> Voter {{$index+1}}</td> 
					<td style="text-align:center;" ng-repeat="candidateKey in vote">{{election.getCandidate(candidateKey).firstName}} {{election.getCandidate(candidateKey).lastName}}
				</tr>
			</table>
			</br>   
	</ul>

	<h4>Votes Table:</h4>
	<ul style="list-style-type:none">
		<li>
			<table cellpadding="10" border="1">
				<tr>
					<th>Candidates</th> 
					<th ng-repeat="votePrefIndex in election.candidatesArray">Preference {{$index+1}}</th>
				</tr>
				<tr ng-repeat="candidate in election.candidatesArray">
					<td> {{candidate.firstName}} {{candidate.lastName}}</td> 
					<td style="text-align:center;" ng-repeat="votePrefIndex in election.candidatesArray">{{election.votePref[$index][candidate.key].length}}</td>
				</tr>
			</table>
			</br>

		<li>	<p>Quota = ((votes cast / (seats to fill + 1)) + 1 = ( ({{election.voteCount}} / ( {{election.seatsToFill}} + 1)) + 1 = {{election.getDroopQuota()}}</p>
   
	</ul>

	 </br>

	<h4>Rounds:</h4>

	<div ng-repeat="votingRound in election.voteResolutionRounds">
		<ul style="list-style-type:none">
			<li>
				<p> Round {{$index+1}} </p>
				<table cellpadding="10" border="1">
					<tr>
						<th>Candidates</th> 
						<th ng-repeat="votePrefIndex in votingRound.candidatesArray">Preference {{$index+1}}</th>
						<th>Elected</th>
						<th>Eliminated</th>
					</tr>
					<tr ng-repeat="candidate in votingRound.candidatesArray">
						<td> {{candidate.firstName}} {{candidate.lastName}}</td> 
						<td style="text-align:center;" ng-repeat="votePrefIndex in votingRound.candidatesArray"> {{votingRound.votePref[$index][candidate.key].length}} </td>
						<td style="text-align:center;">{{ votingRound.showElected( candidate.key) }} </td>
						<td style="text-align:center;">{{ votingRound.showEliminated( candidate.key) }} </td>
					</tr>
				</table>
		</ul>
		</br>
	</div>
	</br>

	<h4>Elected Candidates</h4> 
	<ul style="list-style-type:none">
	<li>
		<table cellpadding="10" border="1">
			<tr>
				<th>Candidates</th> 
			</tr>
			<tr ng-repeat="item in election.electedCandidatesArray">
				<td> {{item.firstName}} {{item.lastName}}</td> 
			</tr>
		</table>
		</br>
	</ul>
	


