<h3>Results</h3>

	<h4>Inputs</h4> 
	<ul style="list-style-type:none">
		<li>
			<p>#Candidates {{election.numberOfCandidates}}</p>
		<li>
			<p>#Seats {{election.seatsToFill}}</p>
		<li>
			<p>#Votes {{election.voteCount}}</p>
	</ul>


	<h4>Candidates</h4> 
	<ul style="list-style-type:none">
		<li>
			<table class="table table-bordered">
				<tbody>
					<tr ng-repeat="item in election.candidatesArray">
						<td> {{item.firstName}} {{item.lastName}}</td> 
					</tr>
				</tbody>
			</table>
			</br>
	</ul>

	<h4>Votes:</h4>
	<ul style="list-style-type:none">
		<li>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th></th> 
						<th style="text-align:center;" ng-repeat="votePrefIndex in election.candidatesArray | limitTo: 3">Preference {{$index+1}}</th>
					</tr>
			    </thead>
    			<tbody>
					<tr ng-repeat="vote in election.votesArray">
						<td> Vote #{{$index+1}}</td> 
						<td style="text-align:center;" ng-repeat="candidateKey in vote | limitTo: 3">{{election.getCandidate(candidateKey).firstName}} {{election.getCandidate(candidateKey).lastName}}
					</tr>
				</tbody>
			</table>
			</br>   
	</ul>

	<h4>Votes Tally Table:</h4>
	<ul style="list-style-type:none">
		<li>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Candidates</th> 
						<th style="text-align:center;" ng-repeat="votePrefIndex in election.candidatesArray | limitTo: 3">Preference {{$index+1}}</th>
					</tr>
				</thead>
    			<tbody>
					<tr ng-repeat="candidate in election.candidatesArray">
						<td> {{candidate.firstName}} {{candidate.lastName}}</td> 
						<td style="text-align:center;" ng-repeat="votePrefIndex in election.candidatesArray | limitTo: 3">{{election.votePref[$index][candidate.key].length}}</td>
					</tr>
				<tbody>
			</table>
			</br>
	</ul>
	</br>

	<h4>Rounds:</h4>

	<div ng-repeat="votingRound in election.voteResolutionRounds">
		<ul style="list-style-type:none">
			<li>
				<p> Round {{$index+1}} </p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Candidates</th> 
							<!--th ng-repeat="votePrefIndex in votingRound.candidatesArray">Preference {{$index+1}}</th-->
							<th style="text-align:center;">First Preference</th>
							<th style="text-align:center;">Elected</th>
							<th style="text-align:center;">Eliminated</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="candidate in votingRound.candidatesArray">
							<td> {{candidate.firstName}} {{candidate.lastName}}</td> 
							<!--td style="text-align:center;" ng-repeat="votePrefIndex in votingRound.candidatesArray"> {{votingRound.votePref[$index][candidate.key].length}} </td-->
							<td style="text-align:center;">{{votingRound.votePref[0][candidate.key].length}} </td>
							<td style="text-align:center;">{{ votingRound.showElected( candidate.key) }} </td>
							<td style="text-align:center;">{{ votingRound.showEliminated( candidate.key) }} </td>
						</tr>
					</tbody>
				</table>

			<li> <p ng-repeat="descLine in votingRound.roundDesc">{{descLine}}</p>
   
		</ul>
		</br>
	</div>
	</br>

	<h4>Elected Candidates</h4> 
	<ul style="list-style-type:none">
	<li>
		<table class="table table-bordered">
			<tbody>
				<tr ng-repeat="item in election.electedCandidatesArray">
					<td> {{item.firstName}} {{item.lastName}}</td> 
				</tr>
			</tbody>
		</table>
		</br>
	</ul>
	


